extends layouts/_layout.pug
block config
  - var title = "BPD";

block scripts
  script(src="js/bpd.js")

block content
  .row: .small-12.columns
    h1 BPD
    .results

  .row: fieldset.small-6.columns




    //- script(src='vendor/jquery.js')
    //- script(src='data.js')
    //- script(src='js/main.js')